/* 	How this works:
*	Set breakpoints IN HERE for all your grid classes. LESS
*	will spit out a media query for each element that'll shrink it.
*	TODO: Define a "breakpoint" variable in here? Can we do multiple
*	arg values in LESS?
*/

.grid ( @columns, @margin : .038, @width : .0485 ) {
	margin-right: percentage(@margin);
	float: left;
	min-height: 1px;
	width: percentage( (@width * @columns) + (@margin * (@columns - 1) ) );
}
.push ( @columns, @margin : .038, @width : .0485 ) {
	margin-right: percentage(@margin);
	float: left;
	min-height: 1px;
	margin-left: percentage( (@width * @columns) + (@margin * (@columns - 1) ) );
}
.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.last {
	margin-right: 0px;
}